<div class="main">
  <div class="search-option">
    <h1>Search By Category</h1><br>
    <mat-form-field>
      <mat-label>Choose Category</mat-label>
      <mat-select
        [(ngModel)]="selectedCategory"
        (selectionChange)="selectCategory($event)"
      >
        <mat-option *ngFor="let item of category" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <div class="inner">
    <h3>{{selectedCategory}}</h3>
    <div class="search-result">
      <mat-card *ngFor="let item of uniqueCompanyName" class="matCard">
        <mat-card-content>
          <img src="{{ item.image }}" alt="" />
        </mat-card-content>
        <mat-card-footer>
          <button
            style="background-color: rgb(167, 241, 167)"
            class="btn"
            mat-raised-button
            (click)="serachByCompany(item.companyname)"
          >
            {{ item.companyname }}
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
