<div class="main">
    <h1>Shop By Category</h1>
    <div class="inner">
        <mat-card *ngFor="let item of uniqueObjArray" class="matCard">
            <mat-card-content>
                <img src="{{item.image}}" alt="">
            </mat-card-content>
            <!-- <hr> -->
            <mat-card-footer>
                <button class="btn" mat-raised-button (click)="serachByCompany(item.companyname)">{{item.companyname}}</button>           
            </mat-card-footer>
        </mat-card>
    </div>
</div>
