<div class="checkout">
  <h1>Checkout</h1>
  <p class="message-p">{{ orderMsg }}</p>
  <div class="row">
    <div class="col-sm-4 shipping-address">
      <form #orderData="ngForm" (ngSubmit)="orderNow(orderData.value)">
        <mat-card class="mat-card">
          <mat-card-header class="mat-card-header">
            <h3>Add Shipping Address</h3>
          </mat-card-header>
          <mat-card-content class="mat-card-content">
            <mat-form-field appearance="fill" class="mat-form-field">
              <mat-label>Enter your Name</mat-label>
              <input
                type="text"
                matInput
                name="name"
                placeholder="Enter User Name"
                ngModel="{{userData?.name}}"
              />
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-form-field">
              <mat-label>Enter your Email</mat-label>
              <input
                type="text"
                name="email"
                matInput
                placeholder="Enter User Email"
                ngModel="{{userData?.email}}"
              />
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-form-field">
              <mat-label>Enter your Address</mat-label>
              <input
                type="text"
                name="address"
                matInput
                placeholder="Enter your address"
                ngModel="{{userData?.address}}"
              />
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-form-field">
              <mat-label>Enter your Contact Details</mat-label>
              <input
                type="tel"
                name="contact"
                matInput
                placeholder="Enter contact details"
                ngModel="{{userData?.contact}}"
              />
            </mat-form-field>
            <button mat-raised-button>Order Now</button>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
    <div class="col-sm-7 product-details">
      <div class="amount-details">
        <h3>TOtal Amount : {{ totalPrice }}</h3>
        <h4>Payment Method : <b> Pay on Delivery</b></h4>
      </div>
      <div class="product-info" *ngFor="let item of cartData">
        <ul>
          <li>
            <img src="{{ item.image }}" alt="" />
          </li>
          <li>Category : {{ item.category }}</li>
          <li>Product Name : {{ item.name }}</li>
          <li>Quantity : {{ item.quantity }}</li>
          <li>Price : {{ item.price }}</li>
          <li>Color : {{ item.color }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
