<div class="footer">
    <div class="content">
        <h3>About Us</h3>
        <ul>
            <li>
                <a href="#">Contact Us</a>
                <a href="#">Careers</a>
                <a href="#">Our story</a>
                <a href="#">Corporate Information</a>
                <a href="#">Cleartrip</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <h3> Help</h3>
        <ul>
            <li>
                <a href="#">Payments</a>
                <a href="#">Shipping</a>
                <a href="#">Cancellation & Returns</a>
                <a href="#">FAQ</a>
                <a href="#">Report Infringement</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <h3>Social</h3>
        <ul>
            <li>
                <a href="#">Facebook</a>
                <a href="#">TouTube</a>
                <a href="#">Instagram</a>
                <a href="#">Twitter</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <h3>Mail Us</h3>
        <p>
            ABC Internet Private Limited,
            Buildings Alyssa, BEgonia &
            Clove Embassy Tech Village,
            Benguluru, 560103,
            Karnataka, India
        </p>
    </div>
</div>