.my-orders{
    margin: 50px 0px;
    margin-top: 50px;
    margin-bottom: 100px;
    border: 1px solid #ddd;
}
.my-orders .order-img{
    width: 100px;
}
.order-data{
    margin: 10px 0px ;
    padding-bottom : 10px; ;
    border-bottom: 1px solid #ddd;
}