img {
  width: 150px;
  height: 100px;
  object-fit: contain;
}
/* //////////////////////////////////////////////////////////////////////////////// */

.main {
  margin-top: 50px;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
}
.inner h3{
  padding-left: 10px;
}
.product-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: auto;
  padding: 10px;
}
.product-images .mat-card {
  padding-left: 10px;
  padding-right: 10px;
  width: 24%;
  height: auto;
  margin: 5px;
  margin-top: 10px;
  box-shadow: 0 5px 10px gray;
  border-radius: 10px;
}
.mat-card img{
  height: 250px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.mat-card button{
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: auto;
  background-color: greenyellow;
}
.byCategory h1{
  text-align: start;
  padding-left: 15px;
  /* border: 1px solid red; */
  padding-bottom: 0px;
}
