<div class="main">
  <div class="inner" *ngIf="actions">
    <h3>Company Name : {{ dataSource[0].companyname }}</h3>
    <div class="product-images">
      <mat-card class="mat-card" *ngFor="let item of dataSource">
        <img src="{{ item.image }}" alt="" />
        <mat-divider></mat-divider>
        <h5>{{ item.name }}</h5>
        <h6>Company Name:{{ item.companyname }}</h6>
        <h6>Price:{{ item.price }}</h6>
        <h6>Color:{{ item.color }}</h6>
        <button mat-raised-button routerLink="/details/{{ item.id }}">
          View Details
        </button>
      </mat-card>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="inner" *ngIf="!actions">
    <div class="byCategory" *ngFor="let items of uniqueObjArray">
      <h1>Category : {{ items.category }}</h1>
      <div class="product-images">
        <ng-container *ngFor="let item of dataSource">
          <mat-card class="mat-card" *ngIf="item.category == items.category">
            <img src="{{ item.image }}" alt="" />
            <mat-divider></mat-divider>
            <h5>{{ item.name }}</h5>
            <h6>Company Name:{{ item.companyname }}</h6>
            <h6>Price:{{ item.price }}</h6>
            <h6>Color:{{ item.color }}</h6>
            <button mat-raised-button routerLink="/details/{{ item.id }}">
              View Details
            </button>
          </mat-card>
          <hr />
        </ng-container>
      </div>
    </div>
  </div>
</div>
