.home-page {
  height: auto;
  font-family: "PT Serif", serif;
  padding: 0;
}
.main{
  width: 100%;
  height: 800px;
  border: 1px solid red;
  background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/Events/img23/Jupiter23/Homepage/Phase3/J23_P3A_PC_NTA_TMR_Hero_2X_EN._CB575585158_.jpg");
  background-attachment: fixed;
  background-position: center 60px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 65px;
}
.offer-section {
  width: 96%;
  height: 500px;
  /* border: 1px solid black; */
  margin: 300px auto 0px auto;
  display: flex;
  justify-content: space-between;
}

.discount-section {
  height: 500px;
  width: 24%;
  border: 1px solid green;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 black;
}
.discount-section h4 {
  margin-left: 20px;
  margin-top: 10px;

}
.first-section {
  width: 100%;
  height: 450px;
  /* border: 1px solid red; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.first-section div {
  width: 170px;
  height: 220px;
  /* border: 1px solid green; */
}
.first-section div img {
  width: 140px;
  height: 160px;
  /* border: 1px solid red; */
  margin-top: 10px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}
.first-section div a {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: black;
}
.signup-section h2 {
  margin-top: 30px;
  margin-left: 10px;
  font-size: 24px;
}
.signup-section button {
  margin: 20px auto 20px auto;
  display: block;
  width: 90%;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  background-color: yellow;
  color: black;
  border: none;
}
.signup-section {
  /* border: 1px solid red; */
  height: 90%;
  width: 90%;
  margin: auto;
}
/* ///////////////////////////////////////////// */

.popular-products {
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
}

.product-header-img {
  /* margin-top: 50px; */
  object-fit: contain;
  height: 600px;
  width: 100%;
}
.divider {
  color: black;
}
ngb-carousel {
  margin-top: 20px;
}
/* /////////////////////// Trendy product CSS ////////////////////////// */

.trendy-products,
.most-selled-product {
  margin-top: 50px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  width: 100%;
  /* border: 1px solid red; */
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  /* background-color: rgb(238,250,238); */
}
.trendy-products h1,
.most-selled-product h1 {
  margin-top: 10px;
}

.trendy-products mat-card,
.most-selled-product mat-card {
  height: 350px;
  width: 19%;
  border: 1px solid #ddd;
  box-shadow: 0 5px 10px gray;
  /* padding: 10px 0px; */
}

.most-selled-product mat-card{
  height: 325px;
}
mat-card-content img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin: auto;
  padding: auto;
}
mat-card-content img:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
mat-card-footer{
  /* border: 1px solid red; */
  margin-top: 20px;
}
mat-card-footer h5,
p {
  text-align: center;
  margin: auto;
  justify-content: center;
}
mat-card-footer button {
  width: 100%;
  background-color: aliceblue;
  margin-top: 4px;
  /* font-weight: 500; */
}
.trendy-products-list,
.selled-products-list {
  display: flex;
  justify-content: space-around;
}


/* /////////////////// most selled products ///////////////////////////// */
/* .most-selles-product{
  width: 100%;
  height: auto;
  
} */

/* /////////////////////// regular product CSS ////////////////////// */
.product-list-wrapper {
  margin-bottom: 20px;
  width: 100%;
  margin-top: 20px;
  height: auto;
  position: relative;
}
.product-list-wrapper h1 {
  /* margin-left: 20px; */
  padding-top: 0px 0px 0px 0px;
  /* text-align: start; */
}
.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 1%;
  justify-content: center;
}
.product-content {
  margin: 5px;
  width: 13%;
  height: 250px;
}
.product-image {
  width: 180px;
  height: 180px;
  margin: 20px auto;
  background-color: orange;
  border-radius: 50%;
}
.product-image img {
  height: 180px;
  width: 100%;
  margin: auto;
  padding: 3px;
  object-fit: cover;
  border-radius: 50%;
}
.product-links {
  display: flex;
}
.product-links a {
  margin: auto;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.product-links a:hover {
  color: green;
  font-size: 18px;
}
