.home-page{
  margin-top: 30px;
}
.main {
  width: 100%;
  background-image: linear-gradient(180deg, rgba(244, 9, 9, 0),rgb(220, 218, 218,1)), url("https://images-eu.ssl-images-amazon.com/images/G/31/Events/img23/Jupiter23/Homepage/PC_HERO_NTA_Up-to-20_2X_EN._CB576676677_.jpg");
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
  margin-top: -16px;
  background-color: rgb(220, 218, 218);
  /* background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(255,0,0,1)); */
}
.main img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.product-header-img {
  object-fit: contain;
  height: 600px;
  width: 100%;
}
.divider {
  color: black;
}

ngb-carousel {
  margin-top: 20px;
}
/* /////////////////////// Trendy product CSS ////////////////////////// */

.trendy-products,
.most-selled-product {
  margin-top: 50px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  width: 100%;
  /* border: 1px solid red; */
  height: auto;
}
.trendy-products h1,
.most-selled-product h1 {
  margin-top: 10px;
}

.trendy-products mat-card,
.most-selled-product mat-card {
  height: auto;
  width: 19%;
  border: 1px solid #ddd;
  box-shadow: 0 5px 10px gray;
  /* padding: 10px 0px; */
}
mat-card-content img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin: auto;
  padding: auto;
}
/* mat-card-content img:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
} */
mat-card-footer h5,
p {
  text-align: center;
  margin: auto;
  justify-content: center;
}
mat-card-footer button {
  width: 100%;
  background-color: aliceblue;
  /* font-weight: 500; */
}
.trendy-products-list,
.selled-products-list {
  display: flex;
  justify-content: space-around;
}

/* /////////////////// most selled products ///////////////////////////// */
/* .most-selles-product{
  width: 100%;
  height: auto;
  
} */

/* /////////////////////// regular product CSS ////////////////////// */
.product-list-wrapper {
  margin-bottom: 20px;
  width: 100%;
  margin-top: 20px;
  height: auto;
  position: relative;
}
.product-list-wrapper h1 {
  margin: 0;
  padding-top: 0px 0px 0px 0px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 1%;
  justify-content: center;
}
.product-content {
  margin: 5px;
  width: 13%;
  height: 250px;
}
.product-image {
  width: 180px;
  height: 180px;
  margin: 20px auto;
  background-color: orange;
  border-radius: 50%;
}
.product-image img {
  height: 180px;
  width: 100%;
  margin: auto;
  padding: 3px;
  object-fit: cover;
  border-radius: 50%;
}
.product-links {
  display: flex;
}
.product-links a {
  margin: auto;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.product-links a:hover {
  color: green;
  font-size: 18px;
}
