<div class="home-page">
  <div class="main">
    <!-- <h1>Hello</h1> -->
    <div class="offer-section">
      <div class="discount-section">
        <h4>Keep Shoping for :</h4>
        <div
          class="first-section"
          *ngIf="trendyProducts && trendyProducts.length > 0"
        >
          <div *ngFor="let product of trendyProducts.slice(0, 4)">
            <img
              src="{{ product.image }}"
              alt=""
              routerLink="details/{{ product.id }}"
            />
            <p>
              <a routerLink="details/{{ product.id }}">{{ product.name }}</a>
            </p>
          </div>
        </div>
      </div>
      <div class="discount-section">
        <h4>Starting From {{ 1000 | currency:'INR' }}</h4>
        <div class="first-section">
          <div *ngFor="let product of getFilteredProducts.slice(0, 4)">
            <img
              src="{{ product.image }}"
              alt=""
              routerLink="details/{{ product.id }}"
            />
            <p>
              <a routerLink="details/{{ product.id }}">{{ product.name }}</a>
            </p>
          </div>
        </div>
      </div>
      <div class="discount-section">
        <h4>Upto 60% off :</h4>
        <div class="first-section">
          <div *ngFor="let item of uniqueObjArray.slice(0, 4)">
            <img
              src="{{ item.image }}"
              alt=""
              routerLink="shop-by-category/{{ item.category }}"
            />
            <p>{{ (item.discount / item.price) * 100 }}% OFF</p>
          </div>
        </div>
      </div>
      <div class="discount-section">
        <h4>Keep Connecting us :</h4>
        <div class="signup-section">
          <h2>Sign in For your best experience</h2>
          <button routerLink="user/user-auth">Sign in Securely</button>
          <h2>Growing your business together</h2>
          <button routerLink="seller/seller-auth">Become a seller</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <hr /> -->
  <!-- ///////////////// carousel for popular products ///////////// -->
  <div class="popular-products">
    <ngb-carousel *ngIf="popularProducts">
      <ng-template *ngFor="let item of popularProducts" ngbSlide>
        <div class="picsum-img-wrapper">
          <a routerLink="details/{{ item.id }}">
            <img
              class="product-header-img"
              src="{{ item.image }}"
              alt="Random first slide"
          /></a>
        </div>
        <div class="carousel-caption">
          <h3>{{ item.name }}</h3>
          <p>{{ item.discription }}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <!-- ///////////////////////// Trendy Products ////////////////////////////// -->
  <div class="trendy-products">
    <h1>Trendy Products</h1>
    <div class="trendy-products-list">
      <mat-card *ngFor="let item of trendyProducts">
        <mat-card-content>
          <img src="{{ item.image }}" alt="" />
        </mat-card-content>
        <mat-card-footer>
          <h5>{{ item.name }}</h5>
          <p>Price : {{ item.price }}</p>
          <button mat-raised-button routerLink="/details/{{ item.id }}">
            View Details
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- ///////////////////////// Most selled products ////////////////////// -->

  <div class="most-selled-product">
    <h1>Most Selled Products</h1>
    <div class="selled-products-list">
      <mat-card *ngFor="let item1 of mostSelledProducts">
        <mat-card-content>
          <img src="{{ item1.image }}" alt="" />
        </mat-card-content>
        <mat-card-footer>
          <h5>{{ item1.name }}</h5>
          <p>Price : {{ item1.price }}</p>
          <button mat-raised-button routerLink="details/{{ item1.id }}">
            View Details
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- // swiper for products ///////////// -->

  <!-- //////////////////////// Regular products //////////////////////////// -->
  <div class="product-list-wrapper">
    <h1>Regular Products</h1>
    <div class="products">
      <div class="product-content" *ngFor="let item of uniqueObjArray">
        <div class="product-image">
          <img
            routerLink="shop-by-category/{{ item.category }}"
            src="{{ item.image }}"
            alt="Product image"
          />
        </div>
        <div class="product-links">
          <a routerLink="shop-by-category/{{ item.category }}">{{
            item.category
          }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
